[submodule "src/UndertaleModTool"]
	path = src/UndertaleModTool
	url = https://github.com/krzys-h/UndertaleModTool.git
[submodule "src/DogScepter"]
	path = src/DogScepter
	url = https://github.com/steviegt6/DogScepter
